/**************************Tag Selectors***************************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: #4d4646;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/**************************Class Selectors***************************/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px 0 0 0;
}

.middle-container {
  margin-top: 50px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer-image {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.business-image {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  height: 100px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#aee 0%,#8cc 49%,#599 51%,#8cc 100%);
  border-radius: 8px;
  border: 02px solid #6aa;
  border-width: 02px 02px 02px 02px;
  padding: 10px 20px 10px 20px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    color: #fff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
  }
  .button > div {
    color: #999;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
  }
  .button > .ld {
    font-size: initial
  }

.button {
  margin-bottom: 100px;
}


/**************************Id Selectors***************************/
